@import "../../styles/variables.scss";

.heading-type {
  color: $light-text-color;
  font-size: 1.5rem;
  padding: 1%;
}
.btn-container {
  .btn {
    padding: 2%;
    background: transparent;
    margin: 1% 5% 2% 1%;
    border-radius: 10px;
    border: 3px solid $light-text-color;
    text-transform: uppercase;
    width: 12rem;
  }
  .btn-selected {
    border: 3px solid $primary-color;
    padding: 2%;
    background: transparent;
    margin: 1% 5% 2% 1%;
    border-radius: 10px;
    text-transform: uppercase;
    width: 12rem;
    color: $primary-color;
  }
}

@media (max-width: 768px) {
  .heading-type {
    text-align: center;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn {
      width: 80%;
    }
    .btn-selected {
      width: 80%;
    }
  }
}
